.logo img {
    margin-top: 10px;
    width: 100px;
    height: 100px;
    margin-left: 50px;
}

.top {
    display: flex;
    justify-content: space-between;
    height: 130px;
}

.top-content {
    height: 200px;
    background-color: #F6F7F7;
}

app-profile {
    margin-top: 20px;
}

.search-box {
    width: 93%;

}

.button-box {
    width: 7%;
}

.form-control {
    padding-left: 20px;
    text-align: start;
    border: none;
    height: 45px;
    width: 100%;
    border-radius: 10px 0 0 10px;
    box-sizing: border-box;
    background-color: var(--navWhite);
}

.mat-autocomplete {
    position: relative;
    width: 93% !important;
}

.search {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    width: 60%;
    height: 45px;
    margin: 0 auto;

}

.search-box input:focus {
    outline: none;
}

.button {
    position: relative;
    background-color: var(--primary-blue);
    width: 100%;
    height: 47px;
    border: none;
    border-radius: 0 10px 10px 0;
}

.container {
    background-color: var(--navWhite);
    width: 80%;
    margin: 0 auto;
    height: 130px;
    border-radius: 12px;
    display: flex;
    margin-top: 15px;
    /* grid-template-columns: auto auto ; */
    /* justify-content: space-between; */
}

.box-1 {

    border: none;
    /* padding: 12px; */
    width: 5%;
    /* height: 100px; */

    margin: auto 0 auto 30px;
    /* margin-left: 50px; */

}

.box-2 {

    border: none;
    /* padding: 12px; */
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.containerItem1 {
    color: var(--primary-blue);
    font-size: 22px;
    margin: 10px 10px 0 10px;
    padding: 0 20px 0 20px;
    font-weight: bold;
    font-style: normal;
    font-weight: 600;

}

.containerItem2 {
    margin: 0 10px 0 10px;
    padding: 0 20px 0 20px;
    font-weight: bold;
    font-style: normal;
    font-weight: 600;

}

.box-2>div {
    margin: 0 10px 0 10px;
    padding: 0 20px 0 20px;

}

.containerItem2 {
    font-size: 17px;
    font-style: normal;
    font-weight: normal;
}

.name-button {
    background-color: var(--primary-blue);
    border-radius: 10px;
    color: white;
    font-size: 14px;
    height: 40px;
    width: 150px;
    border: none;
}

.details-head {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: var(--primary-blue);
    margin-bottom: 20px;
    margin-top: 30px;

}

.cont {
    width: 80%;
    margin: 0 auto;
    height: 100%;
}

.overview {
    margin-top: 10px;
    color: #292C38;
}

.flexBox {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 2%;
}

.flex2 {
    background-color: var(--navWhite);
    width: 50%;
    box-shadow: 3px 3px 7px rgb(164, 164, 164);
    height: 250px;
}

.flex1 {
    width: 50%;

}

table {
    width: 95%;
    margin: auto;
    border: none;
    background-color: #F8FBFF;
    box-shadow: 3px 3px 7px rgb(164, 164, 164);
}

.header {
    color: var(--primary-blue);
    font-size: 14px;
}

th {
    background-color: var(--navWhite);
}

.mat-row:hover .mat-cell {
    border-color: var(--primary-blue) ! important;
}

::ng-deep.mat-tab-label {
    min-width: 50% !important;
    background-color: var(--navWhite);
}

.trialH {
    color:var(--primary-blue);
    font-weight: 600;
    font-size: 16px;
    margin-left: 20px;
}

.trial {
    color:black;
    font-weight: 600;
    font-size: 15px;
    margin-left: 20px;
}

.start-button{
    background-color: var(--primary-blue);
    border-radius: 10px;
    color: white;
    font-size: 14px;
    height: 40px;
    width: 150px;
    border: none;
    
}

.buttonCenter{
    width: 150px;
    margin: 0 auto;
   
}