<div class="top-content">
  <div class="top">
    <div class="logo">
      <img src="../../../assets/logo/rx.png" />
    </div>
    <app-profile></app-profile>
  </div>

  <div class="search">
    <div class="search-box">
      <input class="form-control" type="text" placeholder="Start searching products" [formControl]="myControl"
        [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>

    </div>
    <div class="button-box">
      <a [routerLink]="['/marketplace/search']"><button mat-button class="button" type="submit"><img
            src="../../../assets/icons/search.png" /></button></a>
    </div>
  </div>
</div>


<div class="container">
  <div class="box-1"><img src="../../../assets/icons/c1.png" /></div>
  <div class="box-2">
    <div class="container1">
      <div class="containerItem1">{{product}}</div>

      <div class="containerItem2">
        <p>By {{organization}}</p>
      </div>
    </div>
    <div><a [routerLink]="['/auth/signup']"> <button mat-button class="name-button">Continue to Subscribe</button>
      </a></div>
  </div>
</div>


<div class="cont">
  <div class="details-head">Product Overview</div>

  <mat-divider></mat-divider>
  <p class="overview">A random paragraph can also be an excellent way for a writer to tackle writers' block.
    Writing block can often happen due to being
    stuck with a current project that the writer is trying to complete.
    By inserting a completely random paragraph from which to begin, it can take down some of the issues Writing block
    often happen due to being stuck with a current project that the writer is trying to complete. By inserting a
    completely random paragraph from which to begin, it can take down some of the issues..</p>


    <div class="details-head">Pricing</div>
    <mat-divider></mat-divider>

<div class="flexBox">
  <div class="flex1">
    <table mat-table [dataSource] = "dataSource"  >

      <ng-container  matColumnDef="planId">
        <th mat-header-cell *matHeaderCellDef class="header"> Plan ID </th>
        <td mat-cell *matCellDef="let Plan "> {{Plan.planId}} </td>
      </ng-container>


      <ng-container  matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="header"> Plan Name </th>
        <td mat-cell *matCellDef="let Plan "> {{Plan.name}} </td>
      </ng-container>

      <ng-container  matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef class="header"> Amount </th>
        <td mat-cell *matCellDef="let Plan "> {{Plan.price}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row (click)="(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>


  <div class="flex2">
<p class="trialH">Free Trial</p>
<ul>
  <li class="trial">Try one unit of this product for 30 days</li>
  <li class="trial">There will be no software charges for this product</li>
</ul>


<div class="buttonCenter"><a [routerLink]="['/auth/signup']"> <button mat-button class="start-button">Get Started</button>
</a></div>
  </div>
</div>
    
  
  

</div>

<!-- <app-footer></app-footer> -->