.logo img {
    margin-top: 10px;
    width: 100px;
    height: 100px;
    margin-left: 50px;
}

.top {
    display: flex;
    justify-content: space-between;
    height: 130px;
}

.top-content {
    height: 200px;
    background-color: var(--navWhite);
}

app-profile {
    margin-top: 20px;
}

.search-box{
    width:93%;
}
.button-box{
    width:7%;
}

.form-control {
  padding-left: 20px;
  text-align: start;
  border: none;
  height: 45px;
  width: 100%;
    box-sizing: border-box;
  border-radius: 10px 0 0 10px;

}
.mat-autocomplete{
  position: relative;
    width: 93% !important;
}
.mat-option{
}

.search {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    width: 60%;
    height: 45px;
    margin: 0 auto;
}

.search-box input:focus{
  outline: none;
}
.button {
  position: relative;
    background-color: var(--primary-blue);
    width: 100%;
    height: 47px;
    border: none;
    border-radius: 0 10px 10px 0;
}

.second-content {
    background-color: #292C38;
    height: 200px;
    color: var(--navWhite);
    display: flex;
    justify-content: space-around;

}

.text-content {
    font-size: 22px;
    color: var(--navWhite);
    margin: auto;
}

.button-content {
    background-color: var(--navWhite);
    color: #292C38;
    width: 200px;
    height: 40px;
    font-size: 14px;
    border-radius: 15px;
    border: none;
    margin: auto;
}

.mat-button {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
  }
