.box {
    background-color: var(--navWhite);
    width: 200px;
    height: 550px;
    text-align: left;
   
    align-items: center;
    margin-left: 50px;
    border-radius: 10px;
    font-size: 14px;
    padding-left: 15px; 

}
.refine{
    margin-top: 0;
}

.tick{
   margin-bottom: 15px; 
}

.headerbox {
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0;
}

.checkbox {
    font-family: Poppins !important;
}

