<div class="head"><p>Bill Details</p></div>
<div class="form-group">
  <input
    type="text"
    placeholder="Search"
    class="form-control"
    [(ngModel)]="searchKey"
  />
</div>
<table mat-table [dataSource]="dataSource">

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>E-mail</th>
    <td mat-cell *matCellDef="let customer">{{ customer.email }}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let customer">{{ customer.name }}</td>
  </ng-container>
  <ng-container matColumnDef="generatedDate">
    <th mat-header-cell *matHeaderCellDef>Generated Date</th>
    <td mat-cell *matCellDef="let customer">{{ customer.generatedDate }}</td>
  </ng-container>


  <!-- <ng-container matColumnDef="netRevenue">
    <th mat-header-cell *matHeaderCellDef>Net Revenue</th>
    <td mat-cell *matCellDef="let customer">{{ customer.netRevenue }}</td>
  </ng-container> -->

  <!-- <ng-container matColumnDef="totalAmount">
    <th mat-header-cell *matHeaderCellDef>Total Amount</th>
    <td mat-cell *matCellDef="let customer">{{ customer.totalAmount }}</td>
  </ng-container> -->

  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef>Amount</th>
    <td mat-cell *matCellDef="let customer">{{ customer.amount }}</td>
  </ng-container>



  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    (click)="openDialog(row)"
    *matRowDef="let row; columns: displayedColumns"
  ></tr>
</table>
<mat-paginator
  [pageSizeOptions]="[5]"
  showFirstLastButtons
  aria-label="Select page of periodic elements"
>

