.mat-table {
  margin-top: 15px;
  width: 100%;
  overflow: hidden !important;
  border-radius: 12px !important;
  box-shadow: none;
}
th {
  background-color: var(--navWhite);
  font-weight: 600;
  font-size: 14px;
  color: var(--primary-blue);
}
