<div class="app-container">
  <app-side-nav></app-side-nav>
  <div class="content">
    <div class="right-align">
      <app-profile></app-profile>
    </div>
    <div class="cont">
      <div class="details">
        <div class="details-head">
          Product Details
        </div>
        <mat-divider></mat-divider>
      </div>
<div class="flex-container">


      <div class="details-container">

        <div class="detailTitle">
          <div><b>Product ID </b></div>
          <div><b>Product Name </b></div>
          <div><b>Description </b></div>
          <div><b>Re-Direct URL </b></div>
          <div><b>Webhook URL </b></div>
          <div><b>Secret Key </b></div>
          <div><b>Free Trial Days </b></div>
        </div>
        <div class="detailResults">
          <div>{{product.productId}} </div>
          <div>{{product.name}} </div>
          <div>{{product.description}}</div>
          <div>{{product.redirectURL}}</div>
          <div>{{product.webhookURL}}</div>
          <div>{{product.webhookSecret}}</div>
          <div>{{product.freeTrialDays}}</div>
        </div>

       
      </div>
      <div class="logo"> <img [src]="product.logoURL" height="140px" width="140px"> </div>

    </div>

      <div>

      </div>

      <div class="subs-info">
        <div class="subs-head">
          Plan Details
        </div>
        <mat-divider></mat-divider>
        <div ><a (click)="navigateToAddPlan()"> <button mat-button class="name-button" >+ Add Plan</button> </a></div>
 
        <app-plan-table></app-plan-table>

       
      </div>
    </div>
  </div>
</div>