<div class="mat-sidenav-container">
  <div class="mat-sidenav">
    <div class="logo">
      <img src="../../../assets/logo/rx.png" />
    </div>

    <mat-divider></mat-divider>
    <div class="nav-container">
      <button
        mat-button
        class="mat-button"
        style="background: #347ae2; color: white"
        class="menu-button"
      >
        <span>Dashboard</span>
      </button>
      <button mat-button class="menu-button">
        <span>Subscriptions</span>
      </button>
      <button mat-button class="menu-button">
        <span>Customers</span>
      </button>
      <button mat-button class="menu-button">
        <span>Products</span>
      </button>
      <button mat-button class="menu-button">
        <span>Transactions</span>
      </button>
      <button mat-button class="menu-button">
        <span>Settings</span>
      </button>
      <button mat-button class="menu-button">
        <span>Help!</span>
      </button>
    </div>
  </div>
  <!-- <div class="mat-sidenav-content">
    <div class="content">Main content here!</div>
  </div> -->
</div>
