.container1 {
    background-color: var(--navWhite);
    height: 80px;
    width: 100%;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
}

.container2 {
    margin: auto;
    margin-top: 2%;
}

.container3 {
    margin: auto;
    margin-top: 2%;
    width: 85%;
}

.containerItem1 {
    color: var(--primary-blue);
    font-size: 18px;
    font-weight: bold;
    padding: 13px 20px 0 20px;
}

.containerItem2 {
    padding: 5px 20px 0 20px;
    font-size: 14px;
}

.mat-table {
    width: 100%;
    overflow: hidden !important;
    box-shadow: none;
    border-radius: 10px;
}

th {
    background-color: var(--navWhite);
    font-weight: 600;
    font-size: 14px;
    color: var(--primary-blue);
}

.mat-row:hover .mat-cell {
    border-color: var(--primary-blue) ! important;

}



  ::ng-deep.mat-tab-label{
    min-width: 50%!important;
    background-color: var(--navWhite);
   }
   .mat-row{
    cursor: pointer;
  }
