<div class="app-container">
  <app-side-nav></app-side-nav>
  <div class="content">
    <div class="right-align">
      <app-profile></app-profile>
    </div>
    <div class="title-container">
      <div class="title">Customers</div>
      <div class="intro">Customers can be shown in table. Incase of any special need you can search customer from search bar.
        If anyone purchase any of your plan then customer will be added automatically. </div>
    </div>
    <div class="cont">
      <div class="head"><p>Customer Details</p></div>
      <app-customer-grid> </app-customer-grid>
      <app-customer-table></app-customer-table>
    </div>
  </div>
</div>
