<!-- <div class="container">
    <div class="logo"><img src="../../../assets/logo/rx.png" /></div>
    <div class="login">hello</div>
</div> -->
<div class="container">
    <div class="box-1"> <img class="logo" src="../../../assets/logo/rx.png" /> </div>
    <div class="box-2">
       <div class="header">LOGIN</div> 
        <div class="form-group">
            <label>User Name</label>
            <input type="text" class="form-control" placeholder="Akshayan_T">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" placeholder="**********">
        </div>
      
            <button type="submit" class="btn btn-primary">Sign In</button>
            <div >
                <a class="forgot-btn">Forgot password?</a>
                <a class="forgot-btn">Don't have an account?</a>
  
            </div>
        
    </div>
</div>