<div class="container">
    <div class="box-1"> <img class="logo" routerLink="/" src="../../../assets/logo/rx.png" /> </div>
    <div class="box-2">
        <div class="header">LOGIN</div>
        <form [formGroup]="loginForm">

            <div class="form-group">
                <label>User Email</label>
                <div> <input type="email" class="form-control" formControlName="email" placeholder="akshi98@gmail.com" /> </div>
                <!-- <div class="invalid" *ngIf="f['email'].invalid && (f['email'].dirty || f['email'].touched)"> -->
                <div *ngIf="f['email'].touched && f['email'].invalid">
                    <div *ngIf="f['email'].errors && f['email'].errors['required']">
                        Email is required.
                    </div>
                    <div class="invalid" *ngIf="f['email'].errors && f['email'].errors['email']">
                        Invalid email.
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label> Password</label>
                <div> <input type="password" class="form-control" formControlName="password" placeholder="**********" /> </div>
                <div class="invalid"
                    *ngIf="f['password'].invalid && (f['password'].dirty || f['password'].touched) ">
                    Password is required. </div>
                <div *ngIf="f['password'].errors && f['password'].errors['minLength']"> Minimum length is 8 charectors
                </div>

            </div>


            <button type="submit" class="btn" [disabled]="!loginForm.valid">Sign In</button>

        </form>
        <div>
            <a class="forgot-btn">Forgot password?</a>
            <a class="forgot-btn"> Don't have an account? </a>
        </div>

    </div>
</div>