
.container {
    display: grid;
    grid-template-columns: auto auto;
    height: 100%;
    margin-left: 0px;
    padding: 0px;
  }

  .header{
      font-weight: bold;
      font-size: 60px;
      line-height: 108px;
      color: var(--primary-blue);
  }

  .box-1{
    background-color: var(--navWhite);
    border-radius:0px 86px 86px 0px;
    width:800px;
    
  }

  .box-2 {
    margin-top: 55%;
    color: black;
    font-family: "Poppins", Arial, Helvetica, sans-serif;  
  }
  
  .logo{
      margin: 230px 0px 0px 290px;
      width: 250px;
      height: 250px;
      

    }
 
  .form-group{
      margin-bottom: 10px;
      font-size: 14px;
      font-weight: bold;
     
  }
  .form-control{
    margin-top: 8px;
    background-color: var(--navWhite);
    border-radius: 10px;
    font-size: 14px;
    /* width: 300px; */
  }

  .btn{
    border-radius: 10px;
    font-size: 14px;
    margin-bottom: 15px;
  }

  .forgot-btn{
 margin-right: 20px;
 color: black;
 font-weight: bold;
 
  }
  