<app-home-nav></app-home-nav>

<section class="home" id="home">

    <div class="content">
        <h3>Strengthful
            Software Application <br>
            to Manage Your <span>Subscription</span></h3>
        <a href="#home-price" class="btn">Get Started With Project RX</a>
    </div>

    <div class="image">
        <img src="../../../../assets/home-img/home-img.png" alt="home-img">
        <!-- <object data="../../../../assets/home-img/home-img.svg"></object> -->
    </div>

</section>

<section id="home-price">
    <app-home-price></app-home-price>
</section>

<section id="features_ft">
    <h1>Features</h1>
    <ul>
        <li>Accept simple and secure online payments from customers.</li>
        <li>Schedule reports and get the real-time data needed to optimize your business.</li>
        <li>Fetch your bank transactions, categorize, and reconcile your accounts with ease.</li>
    </ul>
</section>

<!-- <app-faq></app-faq> -->