
    <div class="app-container">
        <app-side-nav></app-side-nav>
        <div class="content">
            <div class="right-align">
                <app-profile></app-profile>
            </div>

            <div class="container1">Add Plan</div>
            
                
            <div class="container2">
                <form [formGroup]="planForm"  (ngSubmit)="onSubmit()" >
                  <div class="form-group">
                    <label class="labelName">Plan Name</label>
                    <div>
                      <input type="text" class="form-control" formControlName="name" />
                      <div class="invalid">
                        <div *ngIf="f['name'].touched && f['name'].invalid">
                          <div *ngIf="f['name'].errors && f['name'].errors['required']">
                            Plan name is required.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
          
                  <div class="form-group">
                    <label class="labelName">Price </label>
                    <div>
                      <input type="text" class="form-control Z" formControlName="price" />
                      <div class="invalid">
                        <div *ngIf="f['price'].touched && f['price'].invalid">
                          <div *ngIf="
                            f['price'].errors && f['price'].errors['required'] ">
                            Price is required.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
          
                  <div class="form-group">
                    <label class="labelName">Bill Every</label>
                    <div>
                      <input type="text" class="form-control Z" formControlName="duration" />
                      <div class="invalid">
                        <div *ngIf="f['duration'].touched && f['duration'].invalid">
                          <div *ngIf=" f['duration'].errors && f['duration'].errors['required']  ">
                            Duration period is required.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="labelName">Description </label>
                    <div>
                      <input type="textarea" class="form-control form-control-des" formControlName="description" />
                      <div class="invalid">
                        <div *ngIf="f['description'].touched && f['description'].invalid">
                          <div *ngIf=" f['description'].errors && f['description'].errors['required'] ">
                            Description is required.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
          
                  
          
                  <div class="form-group">
                    <mat-checkbox  class="labelName" type="boolean" formControlName="trial" >Trial </mat-checkbox >
                 
                      <div class="invalid">
                       <div *ngIf="f['trial'].touched && f['trial'].invalid">
                          <div *ngIf=" f['trial'].errors && f['trial'].errors['required'] ">
                            Trial Period is required.
                        </div>
                      </div>
                    </div>
                  </div>

          
                  <div class="form-group">
                    <button class="btn" type="submit">Save</button>
                    <button class="btn2" routerLink="/product">Cancel</button>
                  </div>
                </form>
              </div>


            </div>
        
        
       
    </div>
    

 