.head {
  width: 100%;
  background-color: var(--navWhite);
  border-radius: 12px;
  height: 50px;
  /* padding:4px; */
}
.head p {
  font-size: 18px;
  font-weight: bold;
  color: var(--primary-blue);
  margin-left: 10px;
  margin-top: 40px;
  padding-top: 10px;
}
.mat-table {
  margin-top: 15px;
  width: 100%;
  overflow: hidden !important;
  border-radius: 12px !important;
  box-shadow: none;
}
th {
  background-color: var(--navWhite);
  font-weight: 600;
  font-size: 14px;
  color: var(--primary-blue);
}
