.container1 {
  color: var(--primary-blue);
  margin: auto;
  font-weight: bold;
  height: 30px;
  width: 1100px;
  border-bottom: 1px solid var(--primary-blue);
}

.container2 {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.form-group {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  display: flex;
}

.form-control {
  width: 700px;
  height: 40px;
  background-color: var(--navWhite);
  border-radius: 10px;
  font-size: 14px;
  border: none;
}
.form-control :hover {
  border-color: var(--primary-blue) !important;
}

.form-control-des {
  height: 100px;
  background-color: var(--navWhite);
  border-radius: 10px;
  font-size: 14px;
  border: none;
  align-items: right;
}

.btn {
  width: 120px;
  height: 40px;
  border-radius: 10px;
  font-size: 14px;
  margin-bottom: 15px;
  border: none;
  color: white;
  background-color: var(--primary-blue);
}

.invalid {
  color: red;
  height: 15px;

}

.labelName {
  text-align: ends;
  width: 120px;
  margin-top: 10px;
}
.previewImg{
  margin: 0 0 0 20px;

}
.previewImg>img{
  border-radius: 10%;
}

label {
  display: block;
}

.imgup {
  position: relative;
  border-radius: 10px;
  height: 110px;
  width: 450px;
  border: 1px dashed var(--primary-blue);

}

.imgup img {
  width: 60px;
  height: 60px;
  margin-top: 10px;
}
.imgup div {
  text-align: center;
}

input[type="file"] {
  left: 0;
  top: 0;
  position: absolute;
  opacity: 0;
  height: 100%;
  cursor: pointer;
  width: 100%;
}

.btn {
  width: 127px;
  height: 40px;
  background-color: var(--primary-blue);
  font-weight: bold;
  border-radius: 10px;
  color: white;
  margin-right: 10px;
  margin-left: 23%;
}

.btn2 {
  width: 120px;
  height: 40px;
  border-radius: 10px;
  color: white;
  background-color: #292c38;
  font-weight: bold;
}
