.cont {
  width: 80%;
  margin: 0 auto;
  height: 100%;
}
.title-container {
  background-color: var(--navWhite);
  width: 90%;
  margin: 0 auto;
  height: 80px;
  border-radius: 12px;
  padding-top: 10px;
  margin-bottom: 30px;
  padding: 15px;
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: var(--primary-blue);
}

.intro {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}
