.register-container {
  display: flex;
  width: 100%;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  height: 100%;
}
.left-cont {
  width: 50%;
  height: 100vh;
  background-color: var(--navWhite);
  display: flex;

  justify-content: center;
  align-items: center;
  border-radius: 0 20px 20px 0;
}
.left-cont img {
  height: 377px;
  width: 377px;
}
.right-cont {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
}
input[type="text"],
input[type="password"] {
  background-color: var(--navWhite);
  width: 550px;
  border-radius: 10px;
  height: 40px;
  font-size: 20px;

  padding-left: 15px;
}

.form-group {
  padding-top: 10px;
  font-family: Poppins;
}
.form-group div {
  margin-top: 5px;
}
label {
  margin-bottom: 10px;
}
input,
button {
  border: none;
}
.imgup {
  position: relative;
  /* display: inline-block; */
  border-radius: 10px;
  background-color: var(--navWhite);
  height: 110px;
  /* padding-top: 30px; */
}
input[type="file"] {
  left: 0;
  top: 0;
  position: absolute;
  opacity: 0;
  /* z-index: 9; */
  height: 100%;
  cursor: pointer;
  width: 100%;
}
.title {
  font-size: 50px;
  font-weight: bold;
  text-align: start;
}
.btn {
  width: 120px;
  height: 40px;
  border-radius: 10px;
  background-color: var(--primary-blue);
  color: white;
  font-weight: bold;
}
.imgup img {
  width: 60px;
  height: 60px;

  margin-top: 10px;
}
.imgup div {
  text-align: center;
}
label{
  font-weight: bold;
}
