<div class="register-container">
  <div class="left-cont">
    <img src="assets/logo/rx.png" routerLink="/" alt="" />
  </div>
  <div class="right-cont">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="title">Register</div>
      <div class="form-group">
        <label>Full Name</label>
        <div>
          <input type="text" class="form-control" formControlName="fullName" />
        </div>
        <div *ngIf="f['fullName'].touched && f['fullName'].invalid">
          <div *ngIf="f['fullName'].errors && f['fullName'].errors['required']">
            Full name is Required
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>E-mail Address</label>
        <div>
          <input type="text" class="form-control" formControlName="email" />
        </div>
        <div *ngIf="f['email'].touched && f['email'].invalid">
          <div *ngIf="f['email'].errors && f['email'].errors['required']">
            Email is required.
          </div>
          <div *ngIf="f['email'].errors && f['email'].errors['email']">
            Email must be a valid email address.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>User Name</label>
        <div>
          <input type="text" class="form-control" formControlName="userName" />
        </div>
        <div *ngIf="f['userName'].touched && f['userName'].invalid">
          <div *ngIf="f['userName'].errors && f['userName'].errors['required']">
            User Name is required
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Password</label>
        <div>
          <input type="password" class="form-control" formControlName="password" />
        </div>
        <div *ngIf="f['password'].touched && f['password'].invalid">
          <div *ngIf="f['password'].errors && f['password'].errors['required']">
            Password is required
          </div>
          <div *ngIf="f['password'].errors && f['password'].errors['minlength']">
            Minimum length is 8
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Re-Enter Password</label>
        <div>
          <input type="password" class="form-control" formControlName="confirmPassword" />
        </div>
        <div *ngIf="f['confirmPassword'].touched && f['confirmPassword'].invalid">
          <div *ngIf="f['confirmPassword'].errors &&f['confirmPassword'].errors['required']">
            Confirm Password is required
          </div>
          <div *ngIf="f['confirmPassword'].errors && f['confirmPassword'].errors['minlength']">
            Minimum length is 8
          </div>
          <div *ngIf="f['confirmPassword'].errors &&f['confirmPassword'].errors['confirmedValidator']">
            Password mismatch
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Company Name</label>
        <div>
          <input type="text" class="form-control" formControlName="companyName" />
        </div>
        <div *ngIf="f['companyName'].touched && f['companyName'].invalid">
          <div *ngIf="
              f['companyName'].errors && f['companyName'].errors['required']
            ">
            Company Name is required
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Logo</label>
        <div class="imgup">
          <div class="icon-container">
            <img src="assets/icons/img.png" alt="" />
            <div>Drop your image here, or browse</div>
          </div>
          <input id="fileUpload" type="file" accept="image/*" formControlName="logo" />
        </div>
      </div>

      <button class="btn" [disabled]="!registerForm.valid" type="submit">
        Next
      </button>
    </form>
  </div>
</div>
