.graph-container {
  display: flex;
  justify-content: space-between;
}

.graph {
  width: 600px;
  height: 300px;
  background-color: #f8fbff;
  border-radius: 20px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.25);
  margin-top: 20px;
}
.side-container {
  margin: 0 auto;
  width: 80%;
}

.pie-chart {
  margin-top: 20px;
}
.pie-chart-container {
  width: 420px;
  height: 250px;
  background: #eceff4;
  box-shadow: 2px 5px 10px rgba(41, 44, 56, 0.25);
  border-radius: 10px;
  padding-top: 50px;
}
.bottom-content {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
::ng-deep.mat-tab-label {
  min-width: 435px !important;
  background-color: var(--navWhite);
}

.table-grp {
  border-radius: 12px;
  overflow: hidden !important;
  /* width: 800px; */
}
