<div class="app-container">
  <app-side-nav></app-side-nav>
  <div class="content">
    <div class="right-align">
      <app-profile></app-profile>
    </div>
<div class="cont">
  <div class="details">
    <div class="details-head">
      Customer Details
    </div>
    <mat-divider></mat-divider>
  </div>

  <div class="details-container">
    <div><b>Customer ID</b>=={{customerID}} </div>
    <div><b>Name</b> </div>
    <div><b>E-mail </b></div>
    <div><b>Billing Country</b> </div>
    <div><b>Payment Method Details</b></div>
  </div>

  <div class="subs-info">
    <div class="subs-head">
      Subscription Info
    </div>
    <mat-divider></mat-divider>

    <app-customer-subs-table></app-customer-subs-table>
  </div>
</div>
  </div>
</div>
