.container{
height: 130px;
width: 1100px;
border-radius: 10px;
background-color: var(--navWhite);
margin: auto;


}

.containerItem1{
    color: var(--primary-blue);
    font-size: 24px;
    /* margin-left: 2%; */
    margin: 10px 10px 0 10px;
padding: 20px 20px 0 20px; 
    font-weight: bold;
       
    }
.container1{
       display: flex;
       justify-content: space-between;
}
.container1 > div {
       margin: 0 10px 0 10px;
       padding:0 20px 0 20px;
       
     }
 .containerItem2{
        font-size: 14px;
        width: 50%;
        }

 

   .name-button{
           background-color:var(--primary-blue);
           border-radius: 10px;
          color: white;
           font-size: 14px;
             height: 40px;
             width: 150px;
                border: none;     
                     }

 