<div class="bg">
    <div class="priceheadinfo">
        <!-- <div class="break"></div> -->
        <h1><span>Pay Once</span> & Get No Restriction on Features</h1>
        <p>Pick a plan that caters all your business requirements.<br>
            So, pay for one & start using all the applications
            with unlimited features</p>
        <br>
        <!-- <div class="break"></div> -->

        <section id="card-list">
            <div class="columns">
                <br>
                <br>
                <ul class="price">
                    <li class="header">BASIC</li>
                    <li class="grey_dollar">$90</li>
                    <li class="grey">Monthly</li>
                    <li class="btn_sign"><a href="#" class="button">Sign Up</a></li>
                </ul>
            </div>

            <div class="columns">
                <div class="price_pro">
                    <ul class="price">
                        <li class="header" style="background-color:#347AE2">PRO</li>
                        <li class="grey"><br>Top Selling <br>Package</li>
                        <li class="grey_dollar">$480</li>
                        <li class="grey">$80/Monthly</li>
                        <li class="btn_sign"><a href="#" class="button">Sign Up</a></li>
                    </ul>
                </div>
            </div>

            <div class="columns">
                <br>
                <br>
                <ul class="price">
                    <li class="header">PREMIUM</li>
                    <li class="grey_dollar">$840</li>
                    <li class="grey">$70/Monthly</li>
                    <li class="btn_sign"><a href="#" class="button">Sign Up</a></li>
                </ul>
            </div>
        </section>
    </div>
</div>