<div class="app-container">
  <app-side-nav></app-side-nav>
  <div class="content">
    <div class="right-align">
      <app-profile></app-profile>
    </div>
<div class="cont">
  <div class="details">
    <div class="details-head">
      Subscription Details
    </div>
    <mat-divider></mat-divider>
    <div class="details-container">
      <div><b>Customer ID</b></div>
      <div><b>Name</b> </div>
      <div><b>E-mail </b></div>
      <div><b>Billing Country</b> </div>
      <div><b>Payment Method Details</b></div>
    </div>

  </div>
  <div class="details-head">
    Add-on Usage Details
  </div>
  <mat-divider></mat-divider>


  <div class="table-cont">
  <app-add-on-table></app-add-on-table>
</div>
  </div>

