/* Y
ou can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

html,
body {
  scroll-behavior: smooth;
  margin: 0;
  font-family: Poppins;
}

:root {
  --primary-blue: #347AE2;
  --navWhite: #ECEFF4;
  --black :#292C38;
}
.app-container{
  display: flex;
  height: 100%;

}
.content{
  width: 100%;
  margin-left: 250px;
}
.right-align{
  display: flex;
  justify-content: flex-end;
}

