/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";


html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
:root {
  --primary-blue: #347AE2;
  --navWhite: #ECEFF4;
  --black :black;
}
.app-container{
  display: flex;
  height: 100%;
}
.content{
  width: 100%;
}
.right-align{
  display: flex;
  justify-content: flex-end;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
