.top{
    text-align: center;
    font-size: 22px;
    font: bold;
    color: #292C38;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
  
    
    }
  
    [class^="box-"] {
      background-color: var(--navWhite);
      margin-bottom: 20px;
      border: none ;
      padding: 12px;
      font-size: 14px;
      color: #292C38;
      text-align: center;
      border-radius: 10px 10px 10px 10px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
      min-width: 150px;
      width: calc(100% / 4);
      height: 100px;
      margin-left: 50px;
    }
  
    .bottom {
        margin: auto;
      width: 600px;
        height: 200px;
        color: var(--navWhite);
        display: flex;
        justify-content: space-around;
    
    }
    
    .text-content {
        font-size: 22px;
        color: black;
        font: bold;
        margin: auto;
    }
    
    .button-content {
        background-color: var(--primary-blue);;
        color: var(--navWhite);
        width: 200px;
        height: 40px;
        font-size: 14px;
        border-radius: 15px;
        border: none;
       
    }

    .button-publish{
      margin: auto;
     
    }

    .mat-button {
        font-family: "Poppins", Arial, Helvetica, sans-serif;
      }
      