<div class="top">
    <p>Popular Products</p>
</div>
<div class="container">
    <div class="box-1"> <img src="../../../assets/icons/c1.png" /> <p>Flowdoh</p> </div>
    <div class="box-2"> <img src="../../../assets/icons/c4.png" /> <p>Flowdoh</p> </div>
    <div class="box-3"> <img src="../../../assets/icons/c3.png" /> <p>Flowdoh</p> </div>
    <div class="box-4"> <img src="../../../assets/icons/c4.png" /> <p>Flowdoh</p> </div>
    <div class="box-5"> <img src="../../../assets/icons/c4.png" /> <p>Flowdoh</p> </div>
    <div class="box-6"> <img src="../../../assets/icons/c3.png" /> <p>Flowdoh</p> </div>
    <div class="box-7"> <img src="../../../assets/icons/c1.png" /> <p>Flowdoh</p> </div>
    <div class="box-8"> <img src="../../../assets/icons/c3.png" /> <p>Flowdoh</p> </div>
</div>

<div class="bottom">
    <button  mat-button class="button-content"> Publish with Us </button>
    <div class="text-content"><p >Sell Your Products in<br>
        RX Marketplace</p></div>
   
</div>
