.logo img {
    margin-top: 10px;
    width: 100px;
    height: 100px;
    margin-left: 50px;
}

.top {
    display: flex;
    justify-content: space-between;
    height: 130px;
}

.top-content {
    height: 200px;
    background-color: var(--navWhite);
}

app-profile {
    margin-top: 20px;
}


.form-control {
padding-left: 10px;
    text-align: start;
    border: none;
    height: 45px;
    width: 800px;
    border-radius: 10px 0 0 10px;
}

.search {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    border-radius: 10px;
    width: 850px;
    height: 47px;
    margin: auto;

}

.button {
    background-color: var(--primary-blue);
    width: 70px;
    height: 47px;
    border: none;
    border-radius: 0 10px 10px 0;
}

.flexbox{
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
    margin-bottom: 15px;
}