.container {
    display: grid;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    grid-template-columns: auto auto auto;
    padding: 90px;

  }


  [class^="box-"] {
    background-color: #ECEFF4;
    border: none ;
    padding: 15px;
    font-size: 14px;
    color: #3072D8;
    text-align: start;
    border-radius: 10px 10px 10px 10px;

  }

.var{
    color: black;
    margin-top: 10px;
}
