
    <div class="container">
        <div class="box-1"> Total Customers <p class="var">{{tCustomer }}</p> </div>
        <div class="box-2"> Net Revenue <p class="var">{{nRevenue}}</p></div>
        <div class="box-3"> Total Subscriptions <p class="var">{{tSubscription}}</p></div>
        <div class="box-4"> Total Products <p class="var">{{tProduct}}</p></div>
        <div class="box-5"> Xxxxxxx <p class="var">{{xVal1}}</p></div>
        <div class="box-6"> Xxxxxxxxx <p class="var">{{xVal2}}</p></div>
    </div>
