.container {
    display: grid;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    grid-template-columns: auto auto auto;
    padding: 10px;

  }


  [class^="box-"] {
    background-color: #ECEFF4;
    border: none ;
    
    padding: 20px;
    font-size: 14px;
    color: #3072D8;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    text-align: start;
    border-radius: 10px 10px 10px 10px;

  }


  