<div class="app-container">
  <app-side-nav></app-side-nav>
  <div class="content">
    <div class="right-align">
      <app-profile></app-profile>
    </div>
    <div class="title-container">
      <div class="title">Subscriptions</div>
      <div class="intro">If a customer subscribes to any plan then it is known as subscription.<br>
       You can see brief information about subscription amounts. </div>
    </div>
    <div class="cont">
      <app-sub-grid></app-sub-grid>
      <app-sub-table></app-sub-table>
    </div>
  </div>
</div>
