.app-container{
  display: flex;
  height: 100%;
}
/* .content{
  width:1000px ;
  background-color: aqua;
} */
.cont{
  width:1000px;
  margin: 0 auto;
  height: 100%;
}
.title{

  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: var(--primary-blue);

  }
  .intro{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
  }
